<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>ข้อมูลการจัดส่ง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <div id="mapGoogle" class="map-size"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: center;">
    <ion-row class="map-size">
      <ion-col>
        <div id="mapGoogleDirection"></div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>