.map-size {
  position: relative;
  //   height: calc(100vh - 75px);
  height: calc(100vh - 400px);
}

#mapGoogleDirection select,
#mapGoogleDirection input {
  font-size: 15px;
}

#mapGoogleDirection select {
  width: 100%;
}

#mapGoogleDirection i {
  font-size: 12px;
}

#mapGoogleDirection {
  height: 100%;
  float: right;
  width: 100%;
  overflow: auto;
}
