<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title ion-text-left>ใบเสร็จรับเงิน/ใบกำกับภาษีอย่างย่อ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="font-size: 12px" id="printable-area">
    <div class="siipBackgruund">
      <ion-grid *ngIf="dataOrders.Order_com == '1018'">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img src="../../assets/img/LOGO-ATL.jpg" class="logo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="dataOrders.Order_com == '1012'">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img src="../../assets/img/PTG_Logo.jpg" class="logo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <div>ใบเสร็จรับเงิน/ใบกำกับภาษีอย่างย่อ</div>
            <!-- <div>VAT INCLUDE</div> -->
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row *ngIf="dataOrders.Order_com == '1018'">
          <ion-col class="ion-text-center">
            <div>{{dataOrders.Company_Name}}</div>
            <div>สำนักงานใหญ่ เลขที่ 90 อาคารซีดับเบิ้ลยู ทาวเวอร์ เอ ชั้นที่ 24</div>
            <div>ถนน รัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310</div>
            <div>เลขที่ประจำตัวผู้เสียภาษี 0105554147681</div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="dataOrders.Order_com == '1012'">
          <ion-col class="ion-text-center">
            <div>{{dataOrders.Company_Name}}</div>
            <div>สำนักงานใหญ่ 90 อาคารซีดับเบิ้ลยู ทาวเวอร์ เอ ชั้นที่ 33</div>
            <div>ถนนรัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310</div>
            <div>เลขประจำตัวผู้เสียภาษี 0105535099511</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"> สาขาที่ : {{dataOrders?.Plant_name_th}} ({{dataOrders?.Order_plant}}) ({{dataOrders?.Business_place}}) </ion-col>
        </ion-row>
        <hr />

        <ion-row>
          <ion-col size="12"> เลขที่ใบกำกับภาษี : {{dataOrders?.Sale_no}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"> วันที่ : {{dataOrders?.Order_date | date: 'dd/MM/yyyy'}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"> ผู้บันทึก : {{userData?.username}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"> Member : {{dataOrders?.Max_id}} {{dataOrders?.customer_Name}} </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12"> คะแนนคงเหลือล่าสุด : {{sCore | number:'1.0-0':'en-US'}} แต้ม </ion-col>
        </ion-row>

        <hr />
      </ion-grid>

      <ion-grid>
        <!-- <hr>
        <ion-row>
          <ion-col size="3">รหัสสินค้า</ion-col>
          <ion-col size="3">รายการสินค้า</ion-col>
          <ion-col size="3">จำนวน</ion-col>
          <ion-col size="3">จำนวนเงิน</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Prd code</ion-col>
          <ion-col size="3">Description</ion-col>
          <ion-col size="3">Qty</ion-col>
          <ion-col size="3">Amount</ion-col>
        </ion-row>
        <hr> -->

        <ion-grid>
          <div *ngFor="let data of dataOrders.order_dt; index as i">
            <div *ngIf="data.Mat_code.substring(0, 2) !== '50'">
              <ion-row>
                <ion-col size="9">{{data.Mat_desc}} x {{data.Order_qty}}</ion-col>
                <ion-col size="3" class="ion-text-right">{{data.Total_price | number:'1.2-2':'en-US'}}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="9">ค่าบริการบำรุงรักษาถัง {{data.Mat_desc.replace("แก๊สถัง", "")}} x {{data.Order_qty}} </ion-col>
                <ion-col size="3" class="ion-text-right">{{ ( data.Order_type=="เปลี่ยนถัง"? 0 : data.Service_price * data.Order_qty ) | number:'1.2-2':'en-US'}} </ion-col>
              </ion-row>
            </div>
            <!-- <ion-row>
            <ion-col size="3">{{data.Mat_code}}</ion-col>
            <ion-col size="3">{{data.Mat_desc}}</ion-col>
            <ion-col size="3">{{data.Order_qty | number:'1.2-2':'en-US'}}</ion-col>
            <ion-col size="3">{{data.Total_price - data.Delivery_price | number:'1.2-2':'en-US' }}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">{{data.Mat_code}}</ion-col>
            <ion-col size="3">ค่าขนส่ง</ion-col>
            <ion-col size="3">{{data.Order_qty | number:'1.2-2':'en-US'}}</ion-col>
            <ion-col size="3">{{data.Delivery_price | number:'1.2-2':'en-US'}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">{{data.Mat_code}}</ion-col>
            <ion-col size="3">ค่าบริการ</ion-col>
            <ion-col size="3">{{data.Order_qty | number:'1.2-2':'en-US'}}</ion-col>
            <ion-col size="3">-</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">{{data.Mat_code}}</ion-col>
            <ion-col size="3">ส่วนลด</ion-col>
            <ion-col size="3">{{data.Order_qty | number:'1.2-2':'en-US'}}</ion-col>
            <ion-col size="3">{{data.Discount | number:'1.2-2':'en-US'}}</ion-col>
          </ion-row> -->
          </div>
        </ion-grid>

        <hr />
      </ion-grid>

      <ion-grid>
        <!-- <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคา</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">
              {{(dataOrders.Total_amount + dataOrders.Total_delivery) -
              dataOrders.Total_discount | number:'1.2-2':'en-US'}}
              บาท</ion-label>
          </ion-col>
        </ion-row> 
      
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคารวมสุทธิ</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">
              {{(dataOrders.Total_amount + dataOrders.Total_delivery ) -
              dataOrders.Total_discount | number:'1.2-2':'en-US'}}
              บาท</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคาไม่รวมภาษีมูลค่าเพิ่ม</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">{{((dataOrders.Total_amount + dataOrders.Total_delivery) -
              dataOrders.Total_discount) - ((((dataOrders.Total_amount +
              dataOrders.Total_delivery ) - dataOrders.Total_discount)*7)/107) | number:'1.2-2':'en-US' }} บาท
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ภาษีมูลค่าเพิ่ม 7%</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">
              {{((((dataOrders.Total_amount + dataOrders.Total_delivery) -
              dataOrders.Total_discount)*7)/107) | number:'1.2-2':'en-US'}}
              บาท</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">เงินสด / เงินโอน</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">
              {{ paymentType.type == '1' ? paymentType.cash: (dataOrders.Total_amount + dataOrders.Total_delivery ) -
              dataOrders.Total_discount | number:'1.2-2':'en-US'}}
              บาท</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">เงินทอน</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">
              {{paymentType.type == '1' ? paymentType.cash - (dataOrders.Total_amount + dataOrders.Total_deposit +
              dataOrders.Total_delivery - dataOrders.Total_discount) : '0' | number:'1.2-2':'en-US'}}
              บาท</ion-label>
          </ion-col>
        </ion-row>
      -->

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคาสินค้ารวมภาษีมูลค่าเพิ่ม</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{sumPrice | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ส่วนลด</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{dataOrders.Total_discount | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคาสุทธิ</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{sumPrice - dataOrders.Total_discount | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>

        <hr />

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคาสินค้าไม่รวมภาษี</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{(sumPrice - dataOrders.Total_discount) * 100 /107 | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ภาษีมูลค่าเพิ่ม 7%</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{(sumPrice - dataOrders.Total_discount) - ((sumPrice - dataOrders.Total_discount) *100 /107) | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>

        <hr />

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ค่ามัดจำสินค้า</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">รวม</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{dataOrders.Total_deposit | number:'1.2-2':'en-US'}} </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">รวมราคาสุทธิ</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-label class="doc-detail"> {{dataOrders.Total_amount | number:'1.2-2':'en-US'}} </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- <hr>



    <div #fixedContainer class="siipBackgruund" *ngIf="dataOrders.Total_deposit > 0">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <div>ใบมัดจำถัง</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="dataOrders.Order_com == '1018'">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img src="../../assets/img/LOGO-ATL.jpg" class="logo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="dataOrders.Order_com == '1012'">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img src="../../assets/img/PTG_Logo.jpg" class="logo"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row *ngIf="dataOrders.Order_com == '1018'">
          <ion-col class="ion-text-center">
            <div>{{dataOrders.Company_Name}}</div>
            <div>สำนักงานใหญ่ เลขที่ 90 อาคารซีดับเบิ้ลยู ทาวเวอร์ เอ ชั้นที่ 24 </div>
            <div>ถนน รัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310</div>
            <div>เลขที่ประจำตัวผู้เสียภาษี 0105554147681</div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="dataOrders.Order_com == '1012'">
          <ion-col class="ion-text-center">
            <div>{{dataOrders.Company_Name}}</div>
            <div>สำนักงานใหญ่ 90 อาคารซีดับเบิ้ลยู ทาวเวอร์ เอ ชั้นที่ 33 </div>
            <div> ถนนรัชดาภิเษก แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพมหานคร 10310</div>
            <div>เลขประจำตัวผู้เสียภาษี 0105535099511</div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            สาขาที่ : -
          </ion-col>
        </ion-row>
        <hr>

        <ion-row>
          <ion-col size="12">
            เลขที่ : {{dataOrders.Order_no}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            วันที่ : {{dataOrders.Order_date | date: 'dd/MM/yyyy HH:mm:ss'}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            พนักงานขาย : (tentative)
          </ion-col>

        </ion-row>

        <hr>
      </ion-grid>


      <ion-grid>
        <hr>
        <ion-row>
          <ion-col size="3">รหัสสินค้า</ion-col>
          <ion-col size="3">รายการสินค้า</ion-col>
          <ion-col size="3">จำนวน</ion-col>
          <ion-col size="3">จำนวนเงิน</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Prd code</ion-col>
          <ion-col size="3">Description</ion-col>
          <ion-col size="3">Qty</ion-col>
          <ion-col size="3">Amount</ion-col>
        </ion-row>
        <hr>

        <ion-grid *ngFor="let data of dataOrders.order_dt; index as i">
          <ion-row *ngIf="data.Deposit > 0">
            <ion-col size="3">{{data.Mat_code}}</ion-col>
            <ion-col size="3">{{data.Mat_desc}}</ion-col>
            <ion-col size="3">{{data.Order_qty | number:'1.2-2':'en-US'}}</ion-col>
            <ion-col size="3">{{data.Deposit | number:'1.2-2':'en-US'}}</ion-col>
          </ion-row>

        </ion-grid>

        <hr>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคา</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">{{dataOrders.Total_deposit | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">ราคารวมสุทธิ</ion-label>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-label class="doc-detail">{{dataOrders.Total_deposit | number:'1.2-2':'en-US'}} บาท</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <hr>


      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col size="12">
              หมายเหตุ:
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              "เงินประกันถังก๊าซหุงต้ม" ข้างต้นเป็นค่าประกันการยืมใช้ทรัพย์สินของบริษัท แอตลาส เอ็นเนอร์ยี่
              จำกัด ผู้บริโภคมีสิทธิ์ได้รับเงินประกันคืนเมื่อนำถังก๊าซหุงต้มพร้อมเอกสารฉบับนี้คืนบริษัทฯ โดย
              ถังก๊าซหุงต้มที่ผู้บริโภคนำมาคืน จะต้องไม่มีการชำรุดบกพร่องอันเกิดจากการใช้ถังก๊าซหุงต้ม
              อันผิดจากวิสัยของวิญญูชน
            </ion-col>
          </ion-row>
        </ion-row>

      </ion-grid>

    </div> -->
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="pdfDownload()">บันทึกใบเสร็จรับเงิน</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="gotoHome()">กลับหน้าหลัก</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
