<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>หน้าแรก</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="qrscan">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Qr Scan</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="history">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>ประวัติการขาย</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ข้อมูลผู้ใช้</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>