<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>{{headerName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="default">{{headerName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="title-page">ชำระเงิน</div>
      </ion-col>
    </ion-row>
    <hr />
  </ion-grid>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4"> เลขที่สั่งซื้อ </ion-col>
        <ion-col> : {{dataOrders.Order_no}} </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> จำนวนรายการ </ion-col>
        <ion-col> : {{dataOrders.Order_qty}} รายการ </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> จำนวนเงิน </ion-col>
        <ion-col> : {{dataOrders.Total_amount | number:'1.2-2':'en-US'}} บาท </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> วันที่สั่งซื้อ </ion-col>
        <ion-col> : {{dataOrders.Order_date | date: 'dd/MM/yyyy HH:mm:ss'}} </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> สถานะ </ion-col>
        <ion-col> : {{ convertStatusText(dataOrders.Status) }} </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> ชื่อลูกค้า </ion-col>
        <ion-col> : {{dataOrders.customer_Name}} </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> สถานที่จัดส่ง </ion-col>
        <ion-col> : {{dataOrders.Ship_to_desc}} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngFor="let data of dataOrders.order_dt; let idx = index">
    <ion-card *ngIf="data.Mat_code.substring(0, 2) !== '50'">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-slides loop="false" pager="false" height="300">
              <ion-slide *ngFor="let img of data.image_detail">
                <img src="{{img.uri}}" alt="" />
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-col size="12" style="padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h3>{{data.Mat_desc}}</h3>
                </ion-label>
              </ion-col>
              <!-- <ion-col size="5" style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <ion-icon name="trash-outline" (click)="removeProd(idx)"></ion-icon>
              </ion-label>
            </ion-col> -->
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>จำนวน :</h4>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right; padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>{{data.Order_qty}} {{data.Base_unit}}</h4>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>ราคา :</h4>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right; padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>{{(data.Total_price + (data.Deposit * data.Order_qty)) | number:'1.2-2':'en-US'}} บาท</h4>
                </ion-label>
              </ion-col>

              <!--COMMENT BY PAY 
            <ion-col style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>{{data.Unit_price + data.Delivery_price}} บาท</h4>
              </ion-label>
            </ion-col>
            -->
            </ion-row>
            <!-- <ion-row>
            <ion-col style="padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>ค่ามัดจำถัง :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>{{ data.sumDepPrice}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row> -->
            <!-- <ion-row>
            <ion-col style="padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>ค่าจัดส่ง :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>{{data.Delivery_price}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row> -->

            <ion-row>
              <ion-col style="padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>ส่วนลด :</h4>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right; padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>{{data.Discount | number:'1.2-2':'en-US'}} บาท</h4>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>รวม :</h4>
                </ion-label>
              </ion-col>
              <ion-col style="text-align: right; padding: 0 5px !important">
                <ion-label class="doc-detail">
                  <h4>{{(data.Total_price + (data.Deposit * data.Order_qty)) - data. Discount | number:'1.2-2':'en-US'}}
                    บาท</h4>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-label class="doc-detail"> </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: right">
            <ion-label class="doc-detail"> </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-label class="doc-detail">รวม</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail"> {{(dataOrders.Total_amount - dataOrders.Total_deposit +
            dataOrders.Total_discount) - dataOrders.Total_service | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-label class="doc-detail">ค่าบริการ</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail">{{dataOrders.Total_service | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-label class="doc-detail">ค่ามัดจำถัง</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail">{{dataOrders.Total_deposit | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ค่าจัดส่ง</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataOrders.Total_delivery}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
      <hr />
      <ion-row *ngIf="dataOrders.discount_dt.length > 0">
        <ion-col size="12">
          <ion-label class="doc-detail">ส่วนลด</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let data of dataOrders.discount_dt; let idx = index">
        <ion-col size="8">
          <ion-label class="doc-detail"> - {{data.Discount_desc}}</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail">{{data.Discount_value | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="8">
          <ion-label class="doc-detail">ส่วนลดรวม</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail">{{dataOrders.Total_discount | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>

      <hr />
      <ion-row>
        <ion-col size="8">
          <ion-label class="doc-detail">รวมทั้งหมด</ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail"> {{dataOrders.Total_amount | number:'1.2-2':'en-US'}} บาท</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-radio-group value="1" (ionChange)="radioPaymentChange($event)">
            <ion-list-header>
              <ion-label>
                <h2>ประเภทการชำระ</h2>
              </ion-label>
            </ion-list-header>

            <!-- <ion-item>
              <ion-label>โอนเงินผ่านธนาคาร</ion-label>
              <ion-radio slot="start" value="0" color="success"></ion-radio>
            </ion-item> -->

            <ion-item>
              <ion-label>เงินสด</ion-label>
              <ion-radio slot="start" value="1" color="success"></ion-radio>
            </ion-item>
            <!-- <ion-item>
            <ion-label>บัตรเครดิต</ion-label>
            <ion-radio slot="start" value="buford" color="success"></ion-radio>
          </ion-item> -->
          </ion-radio-group>
          <ion-grid *ngIf="paymentType.type == 1">
            <ion-row>
              <ion-col>
                <ion-label>เงินรับ</ion-label>
                <ion-input type="number" placeholder="เงินรับ" [(ngModel)]="paymentType.cash"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-text color="success"> * เงินทอน {{paymentType.cash - dataOrders.Total_amount |
                  number:'1.2-2':'en-US'}} บาท </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ธนาคาร : -</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">เลขบัญชีธนาคาร : - </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img src="../../assets/img/qrpt.png" class="logo"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="pringSlip()">Print</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="postSaleOrder()">ยืนยันการชำระเงิน</button>
        </ion-footer>
      </ion-col>

      <ion-col *ngIf="dataOrders.Status && dataOrders.Status != 'S'">
        <ion-footer class="ion-no-border">
          <!-- <ion-button size="default" color="danger" expand="full" (click)="changeSendStatus(0)">ยกเลิก</ion-button> -->
          <button class="myButtonRed" (click)="changeSendStatus(0, 'ยกเลิก')">ยกเลิก</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>