ion-tab-button.tab-selected {
  ion-icon,
  ion-label {
    color: var(--ion-color-success-shade) !important;
    --ion-color-base: var(--ion-color-success-shade) !important;
  }
}

// ion-tab-bar,
// ion-tab-button {
//   // background-color: #afafaf;
//   background-color: #ffffff;
// }

ion-icon {
  color: #707070 !important;
}

ion-content {
  // --ion-background-color:#ebebeb;
  --background: url('../assets/img/bg.png') no-repeat;
}

ion-title {
  font-size: 16px;
}

ion-card {
  padding: 10px !important;
}

ion-input {
  border: 1px solid #9d9d9d !important;
  // border-radius: 10px;
  color: #707070 !important;
  width: 100%;
  margin: 2px auto;
  // height: 46px;
  background-color: #ffffff !important;
}

.title-page {
  color: #007c3a;
  font-size: 16px;
  font-weight: bold;
}

.header-content-page {
  color: #007c3a;
  font-size: 16x;
}

hr {
  border-bottom: 1px solid #707070;
}

.myButtonGreen {
  background: rgb(82, 209, 82);
  background: -moz-linear-gradient(83deg, rgb(82, 209, 82) 60%, rgb(76, 198, 77) 60%);
  background: -webkit-linear-gradient(83deg, rgb(82, 209, 82) 60%, rgb(76, 198, 77) 60%);
  background: -o-linear-gradient(83deg, rgb(82, 209, 82) 60%, rgb(76, 198, 77) 60%);
  background: -ms-linear-gradient(83deg, rgb(82, 209, 82) 60%, rgb(76, 198, 77) 60%);
  background: linear-gradient(173deg, rgb(82, 209, 82) 60%, rgb(76, 198, 77) 60%);
  // background-color:#44c767;
  border-radius: 28px;
  border: 1px solid rgb(76, 198, 77);
  // display:inline-block;
  cursor: pointer;
  color: #ffffff;
  // font-family:Arial;
  font-size: 17px;
  text-decoration: none;
  // text-shadow:0px 1px 0px #2f6627;
  outline: none;

  height: 40px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
}
// .myButtonGreen:hover {
// 	background: rgb(82, 209, 82);
//     background: -moz-linear-gradient(83deg, rgb(76, 198, 77) 60%,rgb(82, 209, 82) 60%);
//     background: -webkit-linear-gradient(83deg, rgb(76, 198, 77) 60%, rgb(82, 209, 82) 60%);
//     background: -o-linear-gradient(83deg, rgb(76, 198, 77) 60%, rgb(82, 209, 82) 60%);
//     background: -ms-linear-gradient(83deg, rgb(76, 198, 77) 60%, rgb(82, 209, 82) 60%);
//     background: linear-gradient(173deg, rgb(76, 198, 77) 60%, rgb(82, 209, 82) 60%);
// }
// .myButton:active {
// 	position:relative;
// 	top:1px;
// }

.myButtonGray {
  background: rgb(175, 175, 175);
  background: -moz-linear-gradient(83deg, rgb(175, 175, 175) 60%, rgb(164, 173, 165) 60%);
  background: -webkit-linear-gradient(83deg, rgb(175, 175, 175) 60%, rgb(164, 173, 165) 60%);
  background: -o-linear-gradient(83deg, rgb(175, 175, 175) 60%, rgb(164, 173, 165) 60%);
  background: -ms-linear-gradient(83deg, rgb(175, 175, 175) 60%, rgb(164, 173, 165) 60%);
  background: linear-gradient(173deg, rgb(175, 175, 175) 60%, rgb(164, 173, 165) 60%);

  // background-color:#44c767;
  border-radius: 28px;
  border: 1px solid rgb(164, 173, 165);
  // display:inline-block;
  cursor: pointer;
  color: #ffffff;
  // font-family:Arial;
  font-size: 17px;
  text-decoration: none;
  // text-shadow:0px 1px 0px #2f6627;
  outline: none;

  height: 40px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
}

.myButtonRed {
  background: rgb(237, 28, 36);
  background: -moz-linear-gradient(83deg, rgb(237, 28, 36) 60%, rgb(229, 27, 36) 60%);
  background: -webkit-linear-gradient(83deg, rgb(237, 28, 36) 60%, rgb(229, 27, 36) 60%);
  background: -o-linear-gradient(83deg, rgb(237, 28, 36) 60%, rgb(229, 27, 36) 60%);
  background: -ms-linear-gradient(83deg, rgb(237, 28, 36) 60%, rgb(229, 27, 36) 60%);
  background: linear-gradient(173deg, rgb(237, 28, 36) 60%, rgb(229, 27, 36) 60%);

  // background-color:#44c767;
  border-radius: 28px;
  border: 1px solid rgb(229, 27, 36);
  // display:inline-block;
  cursor: pointer;
  color: #ffffff;
  // font-family:Arial;
  font-size: 17px;
  text-decoration: none;
  // text-shadow:0px 1px 0px #2f6627;
  outline: none;

  height: 40px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
}
