<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-img src="../../assets/img/ptLogo.png" class="logo-menu"></ion-img>
          </ion-list-header>
          <ion-note>Welcome to <span class="font_bold">Application</span></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="presentAlertConfirm()" lines="none" detail="false">
              <ion-label>ออกจากระบบ</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-item class="appVersionPosition" lines="none" detail="false">Version : 1.0.0</ion-item>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>