ion-menu {
}
ion-menu ion-content {
  background-size: cover;
  background-position: bottom center;
  font-family: 'OpenSans-Regular';
  color: white;
  --background: #00b651;
}

ion-menu.md ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 10px 0 15px;
}

ion-menu.md ion-note {
  margin-bottom: 10px;
  padding: 0px 36px 10px !important;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  color: white;
  font-size: 14px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding: 10px 50px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 36px;
  --padding-end: 36px;
  border-radius: 4px;
  font-family: 'OpenSans-Light';
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  font-family: 'OpenSans-Regular';
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 10px;
  padding: 0px 36px 10px !important;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  color: white;
  font-size: 14px;
}

ion-menu.ios ion-item {
  --padding-start: 36px;
  --padding-end: 36px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}
ion-item {
  --background: transparent !important;

  --color: white;
}
ion-item.selected {
  --color: var(--ion-color-primary);
  --background: transparent !important;
  ion-label {
    color: white;
  }
}
.logo-menu {
  max-width: 140px;
}
ion-list {
  background: transparent !important;
}

.appVersionPosition {
  position: fixed;
  bottom: 0px;
}
