<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="default">Forgot Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab Forgot Password page"></app-explore-container> -->

  <ion-content>
    <!-- <ion-button size="small" fill="clear" class="back" (click)="goBack()">
      <img src="../../assets/img/back_white.png">
    </ion-button> -->
    <form [formGroup]="loginForm">
      <ion-row class="container">
        <ion-col size="12">
          <ion-img src="../../assets/img/ptLogo.png" class="logo"></ion-img>
        </ion-col>
        <ion-col size="12" class="f_white pt-5">
          <span class="font_bold txtTitle">ลืมรหัสผ่าน</span>
        </ion-col>
        <ion-col size="12" class="mt">
          <ion-label>กรุณากรอก อีเมลของคุณสำหรับ<br>
            ขอรับรหัสผ่านใหม่</ion-label>
        </ion-col>
        <ion-col size="12" class="mb">
          <ion-input placeholder="Email" type="email" formControlName="email"
            [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <button class="myButtonGreen" (click)="forgotPassword()">ขอรหัสผ่านใหม่
          </button>
        </ion-col>

      </ion-row>
    </form>
  </ion-content>
</ion-content>