.vertical-align-content > * {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.user-icon {
  position: absolute;
  margin: 10px;
  right: 0;
}

.logo {
  max-width: 180px;
  margin: auto;
}

ion-grid {
  padding: 20px;
}

form {
  padding: 10px !important;
}
