<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>{{headerName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="default">สแกนถัง</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button [ngClass]="(activeBtn)?'myButtonGreen':'myButtonGray'" (click)="changeTank(true)">ถังจัดส่ง</button>
        </ion-col>
        <ion-col>
          <button [ngClass]="(!activeBtn)?'myButtonGreen':'myButtonGray'" (click)="changeTank(false)">ถังรับกลับ</button>
        </ion-col>
      </ion-row>

      <ion-row class="header-content-page">
        <ion-col size="4"> เลขที่สั่งซื้อ </ion-col>
        <ion-col> : {{dataOrders.Order_no}} </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col style="padding: 10px;">
          <div text-center style="height: 140px;">
            <img src="../../assets/img/qr-code-outline.svg"
              style="margin-left: calc(50% - 64px); width: 128px; height: 128px;;" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <ion-card *ngIf="activeBtn">
    <ion-grid>
      <ion-row>
        <ion-col> รายการ{{adtiveText}} </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngFor="let item of dataShow; index as i">
      <ion-row>
        <ion-col style="padding-left: 20px" (click)="scanBarcode(i)">
          <a>{{i + 1}}. {{item.text}} {{item?.data?.qr_code}}</a>
          <p>ผู้ผลิตถัง : {{item?.data?.Vendor_description}}</p>
          <p>Serial No : {{item?.data?.Serial_number}}</p>
          <p>รายละเอียด : {{item?.data?.Mat_desc}}</p>
          <p>วันที่ผลิตถัง : {{item?.data?.Mfg_date | date: 'dd/MM/yyyy'}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding-left: 20px">
          <ion-input placeholder="{{item.text2}}" [(ngModel)]="qrText[i]"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding-left: 20px">
          <button class="myButtonGreen" (click)="getQrtext(i, qrText[i])">ค้นหา</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="!activeBtn">
    <ion-grid>
      <ion-row>
        <ion-col> รายการ{{adtiveText}} </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngFor="let item of dataShow; index as i">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>ถังที่ {{ i + 1 }}</ion-label>
            <select interface="popover" #newPlantSelect [(ngModel)]="otherBrandIndex[i]">
              <option *ngFor="let item of otherBrand; index as i" [value]="i">{{(item.mat_oth_brand === 'F'? "[PT]" : "")}} {{item.mat_desc}}</option>
            </select>
          </ion-item>
        </ion-col>
      </ion-row>

      <div *ngIf="otherBrand[otherBrandIndex[i]]?.mat_oth_brand === 'F'">
        <ion-row>
          <ion-col style="padding-left: 20px" (click)="scanBarcode(i)">
            <a>{{i + 1}}. {{item.text}} {{item?.data?.qr_code}}</a>
            <p>ผู้ผลิตถัง : {{item?.data?.Vendor_description}}</p>
            <p>Serial No : {{item?.data?.Serial_number}}</p>
            <p>รายละเอียด : {{item?.data?.Mat_desc}}</p>
            <p>วันที่ผลิตถัง : {{item?.data?.Mfg_date | date: 'dd/MM/yyyy'}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding-left: 20px">
            <ion-input placeholder="{{item.text2}}" [(ngModel)]="qrText[i]"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="padding-left: 20px">
            <button class="myButtonGreen" (click)="getQrtext(i, qrText[i])">ค้นหา</button>
          </ion-col>
        </ion-row>
        <hr />
      </div>
    </ion-grid>
  </ion-card>

  <!-- <ion-card *ngIf="!activeBtn">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-checkbox slot="start" color="success" [(ngModel)]="checkBoxOtherBrand"></ion-checkbox>
            <ion-label>ถังรับกลับต่างแบรนด์</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="checkBoxOtherBrand">
      <ion-row *ngFor="let item of dataShow; index as i">
        <ion-col class="ion-text-center">
          <ion-item>
            <ion-label>ถังที่ {{ i + 1 }}</ion-label>
            <select interface="popover" #newPlantSelect [(ngModel)]="otherBrandIndex[i]">
              <option *ngFor="let item of otherBrand; index as i" [value]="i">{{(item.mat_oth_brand === 'F'? "[PT]" :
                "")}} {{item.mat_desc}}</option>
            </select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="saveQrscan()">บันทึกข้อมูล</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
