// ion-input{
//     border:3px solid #ffffff;
//     border-radius: 10px;
//     color:#707070;
//     width: 100%;
//     margin: 2px auto;
//     // height: 56px;
//     background-color: #fff;
// }

.map-size {
    position: relative;
    height: 400px;
  }