<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title ion-text-left>ข้อมูลผู้ใช้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="default">ข้อมูลผู้ใช้</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>

    <!--
    <ion-row class="sub-header">
      <ion-col>

        <ion-avatar style="margin-left: calc(50% - 75px); height: 150px; width: 150px;">
          <img src="{{userImg}}" onerror="this.onerror=null; this.src='../../assets/img/ptLogo.png'">
        </ion-avatar>

      </ion-col>
    </ion-row>
    -->

    <ion-row style="width:100%;">
      <ion-col>

        <!--
        <ion-card class="coworker-card">

          <img src="../../assets/img/ptLogo.png" class="header-img" style="width: 50%; position: relative; left: 25%;"/>
          
          <ion-card-content style="margin:5; padding:0;">

            <ion-list lines="none">

              <ion-item>
                <ion-label>
                  <h2>{{userData?userData.data.First_name + ' ' + userData.data.Last_name:''}}</h2>
                  <p>ชื่อ-นามสกุล</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>{{userData?userData.data.phone:''}}</h2>
                  <p>เบอร์โทรศัพท์</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>{{userData?userData.data.email:''}}</h2>
                  <p>E-mail</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>บ้านเลขที่</h2>
                  <p>บ้านเลขที่</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>หมู่บ้าน</h2>
                  <p>หมู่บ้าน</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>หมู่</h2>
                  <p>หมู่</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>ซอย</h2>
                  <p>ซอย</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>ถนน</h2>
                  <p>ถนน</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>แขวง</h2>
                  <p>แขวง</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>เขต</h2>
                  <p>เขต</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>อำเภอ</h2>
                  <p>อำเภอ</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>จังหวัด</h2>
                  <p>จังหวัด</p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <h2>รหัสไปรษรีย์</h2>
                  <p>รหัสไปรษรีย์</p>
                </ion-label>
              </ion-item>

              <!--
              <ion-item>
              <div id="mapGoogle" class="map-size"></div>
              </ion-item>
              -->
        <!--      
            </ion-list>

          </ion-card-content>

        </ion-card>
        -->

        <ion-card class="coworker-card">
          <ion-row>
            <ion-col>
              <ion-label>ชื่อ</ion-label>
              <ion-input placeholder="ชื่อ" [ngModel]="userData?.userdetail?.firstname"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label>นามสกุล</ion-label>
              <ion-input placeholder="นามสกุล" [ngModel]="userData?.userdetail?.lastname"></ion-input>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col>
              <ion-label>ตำแหน่ง</ion-label>
              <ion-input placeholder="ตำแหน่ง" [ngModel]="userData?.userRole"></ion-input>
            </ion-col>
          </ion-row> -->

        </ion-card>


        <ion-card class="coworker-card">
          <ion-row>
            <ion-col>
              <ion-label>รหัสสาขา + ชื่อสาขา</ion-label>
              <ion-input *ngFor="let item of dataPlands; index as i" placeholder="รหัสสาขา + ชื่อสาขา"
                [ngModel]="item?.sin_cs_plant + ' ' + item?.name2">
              </ion-input>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <ion-label>Tax ID</ion-label>
              <ion-input placeholder="Tax ID" [ngModel]="dataPland?.tax_id"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>รหัสบริษัท</ion-label>
              <ion-input placeholder="รหัสบริษัท" [ngModel]="dataPland?.com_code"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>ชื่อบริษัท</ion-label>
              <ion-input placeholder="ชื่อบริษัท" [ngModel]="dataPland?.company_Name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>ที่อยู่</ion-label>
              <ion-input placeholder="ที่อยู่" [ngModel]="dataPland?.street_EN"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>ชั้น</ion-label>
              <ion-input placeholder="ชั้น" [ngModel]="dataPland?.str_Suppl3_EN"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>ถนน</ion-label>
              <ion-input placeholder="ถนน" [ngModel]="dataPland?.location_EN"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>เขต</ion-label>
              <ion-input placeholder="เขต" [ngModel]="dataPland?.city2_EN"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>จังหวัด</ion-label>
              <ion-input placeholder="จังหวัด" [ngModel]="dataPland?.city1_EN"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>





    <!-- <ion-row style="width:100%;">
      <ion-col>

        <ion-row>
          <ion-col>
            <ion-label>ชื่อ - นามสกุล</ion-label>
            <ion-input placeholder="ชื่อ - นามสกุล"
              [ngModel]="userData?.userdetail?.firstname + ' ' + userData?.userdetail?.lastname"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>เบอร์โทรศัพท์</ion-label>
            <ion-input placeholder="เบอร์โทรศัพท์" [ngModel]="userData?.userdetail?.telphone"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>E-mail</ion-label>
            <ion-input placeholder="E-mail" [ngModel]="userData?.userdetail?.email"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>พิกัด</ion-label>
            <ion-input placeholder="พิกัด" [ngModel]="userData?.userdetail?.position"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>ตำแหน่ง</ion-label>
            <ion-input placeholder="ตำแหน่ง" [ngModel]="userData?.userdetail?.department"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>ประเภทผู้ใช้</ion-label>
            <ion-input placeholder="ประเภทผู้ใช้" [ngModel]="userData?.userdetail?.user_type"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>ชื่อผู้ใช้</ion-label>
            <ion-input placeholder="ชื่อผู้ใช้" [ngModel]="userData?.userdetail?.user_id"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>รหัสผ่าน</ion-label>
            <ion-input placeholder="รหัสผ่าน" [ngModel]="userData?.userdetail?.password"></ion-input>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col>
        <div id="mapGoogle" class="map-size"></div>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>