<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title ion-text-left>{{headerName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="default">{{headerName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="title-page">รายการสั่งซื้อ</div>
        <hr />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
          <ion-label>สาขา</ion-label>
          <select style="width: calc(100% - 50px);" interface="popover" #newPlantSelect [(ngModel)]="selectPland"
            (change)="onPlantChange(selectPland)">
            <option *ngFor="let item of dataPland; index as i" [value]="item.sin_cs_plant">{{item.name2}}</option>
          </select>

          <!-- <ion-select interface="popover" #newPlantSelect [(ngModel)]="selectPland"
            (ionChange)="onPlantChange(selectPland)">
            <ion-select-option *ngFor="let item of dataPland; index as i" [value]="item.sin_cs_plant">{{item.name1}}
            </ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let item of dataOrders; index as i">
    <ion-grid>
      <ion-row>
        <ion-col size="4"> เลขที่สั่งซื้อ </ion-col>
        <ion-col> : <a>{{item.Order_no}}</a> </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">
          จำนวนรายการ
        </ion-col>
        <ion-col>
          : {{item.Order_qty}} รายการ
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          จำนวนเงิน
        </ion-col>
        <ion-col>
          : {{item.Total_amount}} บาท
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4"> วันที่สั่งซื้อ </ion-col>
        <ion-col> : {{item.Order_date | date: 'dd/MM/yyyy HH:mm:ss'}} </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4"> สถานะ </ion-col>
        <ion-col> : {{ convertStatusText(item.Status_code) }} </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">
          ชื่อลูกค้า
        </ion-col>
        <ion-col>
          : {{item.Customer_Name}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          สถานที่จัดส่ง
        </ion-col>
        <ion-col>
          : {{item.Ship_to_desc}}
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>
          <button class="myButtonGreen" (click)="gotoDetail(item)">รายละเอียด</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>